.novedades-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.novedades-header h2 {
  margin: 0;
}

.acciones button {
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background: none;
}

.tabla-novedades {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tabla-novedades th,
.tabla-novedades td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

.pagina {
  font-size: 16px;
  font-weight: bold;
}

.btn-crear {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #3ADF00;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
