<div class="usuario-layout">
  <!-- Encabezado -->
  <header class="header">
    <div class="left-header">
      <button class="hamburger" (click)="toggleSidebar()">&#9776;</button>
      <div class="logo-container">
        <a routerLink="/usuario" routerLinkActive="active"><img src="../../../assets/logo.png" class="logo" alt="IDEAM" /></a>
        <div class="title">
          <h1>Panel de Usuario</h1>
          <h2>Bienvenido Brigadista</h2>
        </div>
      </div>
    </div>
    <div class="user-icon" (click)="toggleMenu()" style="position: relative;">
      <img src="../../../assets/user-icon2.png" alt="Usuario" />
      <div class="logout-menu" *ngIf="menuVisible">
        <button (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </header>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Menú lateral -->
    <nav class="sidebar" [class.collapsed]="isSidebarCollapsed">
      <ul>
        <li>
          <a routerLink="/usuario/actualizar-datos" routerLinkActive="active" >
            <i class="fas fa-home"></i> Actualizar Datos
          </a>
        </li>
        <li>
          <a routerLink="/usuario/postularse" routerLinkActive="active" >
            <i class="fas fa-id-badge"></i> Perfil
          </a>
        </li>
        <li>
          <a routerLink="/usuario/pendiente-postulacion" routerLinkActive="active" >
            <i class="fas fa-history"></i> Historial
          </a>
        </li>
      </ul>
    </nav>

    <!-- Zona central -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>