<div class="contenedor-formulario">
  <h2>Agregar novedad</h2>
  <form (ngSubmit)="guardarNovedad()" #formulario="ngForm">
    <label for="actividad">Actividad:</label>
    <input
      type="text"
      id="actividad"
      name="actividad"
      [(ngModel)]="novedad.actividad"
      required
    />

    <label for="descActividad">Descripción de la actividad:</label>
    <textarea
      id="descActividad"
      name="descActividad"
      [(ngModel)]="novedad.descActividad"
      required
    ></textarea>

    <label for="idBrigada">Brigada:</label>
    <select
      id="idBrigada"
      name="idBrigada"
      [(ngModel)]="novedad.idBrigada"
      required
    >
      <option *ngFor="let brigada of brigadas" [value]="brigada.id">
        {{ brigada.Nombre }} - {{ brigada.Municipio }}
      </option>
    </select>

    <div class="botones">
      <button type="button" (click)="cancelar()">Cancelar</button>
      <button type="submit" [disabled]="formulario.invalid">Guardar</button>
    </div>
  </form>
</div>
