<div *ngIf="mostrarBannerCookies" class="cookie-banner">
  <p>
    Este sitio web utiliza cookies para mejorar tu experiencia.
    <a href="https://www.cookiesandyou.com/" target="_blank">Leer más</a>
  </p>
  <div class="cookie-actions">
    <button (click)="aceptarCookies()">Aceptar</button>
    <button (click)="rechazarCookies()">Rechazar</button>
  </div>
</div>
<div class="login-container">
  <div class="login-box">
    <img src="assets/logo.png" alt="IDEAM logo" class="logo" />
    <h2>Instituto de Hidrología<br />Meteorología y<br />Estudios Ambientales</h2>

    <form (ngSubmit)="onLogin()" class="login-form">
      <label class="label1" for="email">Gmail:</label>
      <input class="input1" id="email" type="email" [(ngModel)]="email" name="email" required />

      <label class="label2" for="password">Contraseña:</label>
      <div class="password-wrapper">
        <input class="input2" [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password"
          name="password" required />
        <span class="toggle" (click)="togglePasswordVisibility()">👁️</span>
      </div>

      <button class="login-button btn-primary merriweather-font" type="submit">
        Log in
      </button>

      <button class="google-btn" type="button" (click)="iniciarConGoogle()">
        <img src="assets/google-icon.svg" alt="Google icon" />
        Iniciar sesión con Google
      </button>

      <p class="registro-link">
        ¿No tienes cuenta?
        <button class="link-button" type="button" (click)="irARegistro()">Regístrate ya</button>
      </p>
    </form>
  </div>
</div>
