.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 90vh;
  }
  
  h2, h3 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #000;
    width: 100%;
  }
  
  .brigada-section,
  .personal-section {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .brigada-section label,
  .personal-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .brigada-section input,
  .brigada-section select,
  .personal-section input,
  .personal-section select {
    margin-bottom: 20px; /* Aumentamos de 10px a 20px */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: calc(100% - 20px);
    max-width: 300px;
  }
  
  .personal-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .botones {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .botones button {
    padding: 10px 20px;
    border: none;
    background-color: #005fa3;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .botones button:hover {
    background-color: #004a7c;
  }
  
  .botones-derecha {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.campo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

