<div class="form-container">
  <h2>Editar brigada</h2>

  <!-- Datos generales -->
  <div class="brigada-section">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="brigada.Nombre">

    <label for="municipio">Municipio:</label>
    <select id="municipio" [(ngModel)]="brigada.ID_Municipio">
      <option [ngValue]="null" disabled selected>Seleccione un municipio</option>
      <option *ngFor="let m of municipios" [ngValue]="m.id">{{ m.Nombre }}</option>
    </select>

    <label for="conglomerado">Conglomerado:</label>
    <select id="conglomerado" [(ngModel)]="brigada.ID_Conglomerado">
      <option [ngValue]="null" disabled selected>Seleccione un conglomerado</option>
      <option *ngFor="let c of conglomerados" [ngValue]="c.id">{{ c.Nombre }}</option>
    </select>

    <label for="fecha">Fecha de inicio:</label>
    <input type="date" id="fecha" [(ngModel)]="brigada.Fecha_Inicio">
  </div>

  <!-- Personal asignado -->
  <div class="personal-section">
    <h3>Editar personal asignado</h3>


    <div class="personal-list" *ngFor="let persona of personal; let i = index">
      <label>{{ i + 1 }}.</label>
      <input type="text" placeholder="Nombre del personal" [(ngModel)]="persona.nombre" />
      <select [(ngModel)]="persona.Cargo" [ngModelOptions]="{standalone: true}">
        <option value="" disabled>Escoja el rol del integrante</option>
        <option *ngFor="let Cargo of cargos" [value]="Cargo">
          {{ Cargo }}
        </option>
      </select>

    </div>

  <!-- Botones de acción -->
  <div class="fila" style="justify-content: flex-end; gap: 10px;">
    <button class="btn-cancel" (click)="router.navigate(['/admin/brigadas'])">
      Cancelar
    </button>
    <button class="btn-guardar" (click)="guardarCambios()">
      Guardar
    </button>
  </div>
</div>
