.tabla-scroll-wrapper {
  display: block;
  overflow: auto;    /* Esto permite el scroll horizontal solo cuando la tabla sea más ancha que el contenedor */
  width: 160vh;
  
}

.tabla-horizontal {
  width: max-content;
  min-width: 800px;   /* Establece un mínimo para que la tabla sea más ancha que el contenedor */
}

.mat-header-cell, .mat-cell {
  white-space: nowrap; /* Asegura que el contenido no se envuelva */
  padding: 10px 160px;   /* Ajuste de espaciado */
}
