/* tu-componente.component.css */
.tabla-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .scroll-horizontal {
    overflow-x: auto;
    width: 100%;
  }
  
  .tabla-ancha {
    min-width: 800px; /* Aumenta según la cantidad de columnas */
    width: max-content;
  }
  
  .mat-header-cell, .mat-cell {
    white-space: nowrap;
    padding: 8px 16px;
  }
  